<div class="row">
    <div class="col">
        <h1>*ngIf</h1>
        <hr>

        <div class="card text-white bg-success mb-3" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">Angular</h5>
                <p class="card-text">Desarrollo desde 0 A experto en angular</p>
            </div>
        </div>
        <button class="btn btn-outline-success" style="">
            Mostrar/Ocultar
        </button>
    </div>


    <div class="col">
        <h1>*ngFor</h1>
        <hr>

        <ul class="list-group">
            <li class="list-group-item">JavaScript</li>
            <li class="list-group-item">CSS</li>
            <li class="list-group-item">HTML</li>
            <li class="list-group-item">ANGULAR</li>
            <li class="list-group-item">IONIC</li>
        </ul>
    </div>

</div>